body{
    font-family: Quicksand,courier;
    font-weight: normal;
    color: white;
    background-color: 3545A0;
}
#SplashScreen{
    text-align: center;
    padding-top: 35%;
}
#Time{
    font-size: 40px;
}
#Logo{
    margin-top: 20px;
    font-size: 100px;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}
btn{
    display: block;
    width: 350px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 8px;
    font-size: 25px;
    background-color: 5060CC;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
btn:active{
    transform: translateY(4px);
}
btn:hover{
    background-color: D5DDFF;
}
#buttons{
    margin-top: 50px;
}